.background{
    -fx-background-color: #202020;
}
.lightbulb{
    -fx-fill: white;
}
.button{
    -fx-background-color: #34373b;
    -fx-font-family: Roboto;
    -fx-text-fill: #fefefe;
    -fx-background-radius: 5;
}
.button:hover{
    -fx-background-color: #282b2e;
    -fx-font-family: Roboto;
    -fx-text-fill: #ededed;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.specificButton{
    -fx-background-radius: 5;
    -fx-background-color: #4cc2ff;
    -fx-text-fill: Black;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}
.specificButton:hover{
    -fx-background-radius: 5;
    -fx-background-color: #3789b3;
    -fx-text-fill: Black;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}